@import './resets';
@import './fonts';
@import './blocks/container';
@import './blocks/header';
@import './blocks/nav';
@import './blocks/select';
@import './blocks/filter';
@import './blocks/button';
@import './blocks/calendar';
@import './blocks/base-icon';
@import './blocks/pagination';
@import './blocks/items-amount';
@import './blocks/main-content';
@import './blocks/image-card';
@import './blocks/footer';
@import './blocks/social-links';

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #252525;
}
