.main-content {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)); /* see notes below */
    grid-gap: 1em;
    @media (max-width: 400px) {
      display: block;
    }
  }
}
