.nav {
  max-height: 68px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  padding: 20px 33px;
  position: fixed;
  top: 0;
  z-index: 2;
  @media (max-width: 975px) {
    padding: 20px 15px;
  }
  &__logo-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__logo-caption {
    color: #fff;
    font-family: 'PoppinsBold', 'RobotoBold', sans-serif;
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    @media (max-width: 400px) {
      display: none;
    }
  }
  &__logo {
    max-width: 60px;
    margin-right: 10px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
