.no-data-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #141212;
  padding: 50px;
  border-radius: 10px;
  margin: 20px 0;
  @media (max-width: 975px) {
    flex-wrap: wrap;
  }
  &__img {
    max-width: 450px;
    border-radius: 10px;
    @media (max-width: 975px) {
      min-width: 100%;
    }
  }
  &__text {
    font-family: 'PoppinsRegular', 'RobotoRegular', sans-serif;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    margin-left: 30px;
    @media (max-width: 975px) {
      margin-top: 20px;
      margin-left: 0;
      text-align: center;
      font-size: 24px;
      line-height: 30px;
    }
    @media (max-width: 400px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}