.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 3;
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  opacity: 0;
  transition: opacity 600ms;
  background: #5367f8;
  border-radius: 100px;
  &--show {
    opacity: 100;
  }
  &__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    background: none;
    outline: none;
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
  }
  &__text {
    text-align: center;
    font-family: 'PoppinsRegular', 'RobotoRegular', sans-serif;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
